@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <hgroup style="color:blue">
        <h1>Hata.</h1>
        <h2>Kullanılmış Bilgi Silemezsiniz.</h2>
    </hgroup>


    <div class="btn-group">
        <a class="btn btn-primary btn-outline-primary icofont icofont-check-circled" href="previous.html" onClick="history.back();return false;">Tamam</a>
    </div>
</body>
</html>
